[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fakeredis = "*"
pre-commit = "*"
pylint = "*"

[packages]
falcon = "*"
gunicorn = "*"
coveralls = "*"
pyjsend = "*"
sentry-sdk = "*"
pytest = "*"
pytest-cov = "*"
alembic = "*"
psycopg2 = "*"
sqlalchemy = "*"
redis = "*"
celery = "*"

[requires]
python_version = "3.7"
